a,
#ck {
    text-decoration: none
}
a:link {
    color:#00D
}
a:visited {
    color:purple
}
a:hover {
    text-decoration:underline
}
body, div {
    margin:0;
    padding:0;
    box-sizing:border-box
}
body {
    font:100%/1.5 verdana;
    color:#222
}
p, ul, blockquote, pre {
    margin:0 0 1em
}
ul {
    list-style:none;
    padding-left:1em;
    text-indent:-1em;
}

h1,
h2 {
    font:700 1.27em verdana;
    margin:0 0 .5em
}
h1, h2 {
    color:#117
}
blockquote {
    font-style:italic
}
pre, code {
    font:700 1em "courier new", monospace
}

pre {
    overflow:auto
}
.box {
    margin:0 auto;
    padding:0 12px
}
.s {
    font:.91em/1.4 verdana
}
.ab a {
    display:block;
    margin:0 0 1em;
    padding-left: 1em;
    text-indent:-1em
}


#top {
background: #117;
color: #FFF;
margin:0 0 .67em;
border:0 solid #7373D9;
border-width:0 0 12px;
padding:2em 0 0;
}

#ck {
font:700 2.5em georgia;
color:#FFF;
}

#perm {
 color:#222;
 background:#DDD;
 border:1px solid #BBB;
 padding:2px
}
@media screen and (min-width:768px) {
 blockquote,
 pre {
  margin-left:1.25em
 }
 .box {
  max-width:840px
 }
 #c1 {
  width:71%;
  float:left
 }
 #c2 {
  width:26%;
  float:right
 }
}

body {
background: url(./check.jpeg);
}

.ab {
    display: inline;
    border: 10px solid #ffffff; 
    border-radius: 25px; 
    background: #ffffff; 
    color: #ffffff; 
    padding: 10px 30px; 
    display: inline-block; 
    text-align: left;
    margin-left: auto; 
    margin-right: auto;
}

.sm {
    display: inline;
    border: 10px solid black; 
    border-radius: 25px; 
    background: yellow; 
    color: black; 
    padding: 10px 30px; 
    display: inline-block; 
    text-align: center;
    margin-upper: auto;
    margin-left: auto; 
    margin-right: auto;
}

.bio {
    display: inline;
    border: 10px solid white; 
    border-radius: 25px; 
    background: black; 
    color: white; 
    padding: 10px 30px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
